<meta charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <!-- Condicional só funciona se as tags estiverem imediatamente abaixo da outra -->
  <p v-if="logged">Usuário logado: {{ name }}</p>
  <p v-else-if="anonymous">Navegando como anônimo</p>
  <p v-else>Nenhum usuário logado</p>

  <button @click="logged = !logged">
    {{ logged ? 'Sair' : 'Entrar' }}
  </button>

  <input type="checkbox" v-model="anonymous">
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      name: 'Edson',
      logged: false,
      anonymous: false,
    }
  })
</script>