<meta charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <template v-if="logged">
    <p>Usuário logado: {{ name }}</p>
    <p>Perfil: ADMINISTRADOR</p>
  </template>
  <p v-else-if="anonymous">Navegando como anônimo</p>
  <p v-else>Nenhum usuário logado</p>

  <button @click="logged = !logged">
    {{ logged ? 'Sair' : 'Entrar' }}
  </button>

  <input type="checkbox" v-model="anonymous">

  <hr>

  <!-- v-show serve para ocultar algum elemento sem removê-lo da DOM -->
  <footer v-show="logged">Desenvolvido por mim!</footer>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      name: 'Edson',
      logged: false,
      anonymous: false,
    }
  })
</script>